@import '../../styles/color.scss';

.AboutPage {
  &-greeting {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    height: 100vh;

    &-control {
      font-family: 'chris-regular';
      font-size: 36px;
      letter-spacing: 0.05em;
      border: none;
      border-bottom: solid 1px;
      line-height: 1.4rem;
      background: none;
      outline: none;
      outline: aliceblue;
      transition: border-bottom .3s ease, color .3s ease;
      animation: pulse .5s infinite;
      animation-timing-function: ease-out;
      animation-direction: alternate;
      position: absolute;
      padding: 0;

      &:focus {
        outline: none;
      }

      &:hover {
        cursor: pointer;
        animation: none;
        border-bottom: solid 3px $neonPink;
      }

      &-container {
        opacity: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 300px;
        display: flex;
        position: absolute;
        width: 100%;
        padding: 0 20vw;
        top: 6rem;
        z-index: 9;
      }
    }

    &-message {
      opacity: 1;
      transition: opacity 0.3s;
      font-size: 48px;
      margin: auto;
      max-width: 560px;

      @media screen and (max-width: 600px) {
        font-size: 32px;
      }
    }
  }

  &-SakuraTree {
    z-index: -1;
    position: absolute;
    top: calc(100vh * .16);
    width: 100%;

    @media screen and (max-width: 600px) {
      top: calc(100vh * .16);
    }

    &-contianer {
      position: relative;
    }
  }
}

.fade {
  opacity: 0;
}

.show {
  opacity: 1;
}

.backdrop {
  opacity: 0.5;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: -1;
}
