@import '../../styles/color.scss';

.AboutPage {
  &-spacer {
    height: 100vh;
  }

  &-greeting {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
    height: calc(100vh - 60px);

    &-control {
      font-family: 'chris-regular';
      font-size: 36px;
      letter-spacing: 0.05em;
      border: none;
      border-bottom: solid 1px;
      line-height: 1.4rem;
      background: none;
      margin: auto;
      outline: none;
      transition: border-bottom .3s ease, color .3s ease;
      animation: pulse .5s infinite;
      animation-timing-function: ease-out;
      animation-direction: alternate;
      padding: 0;

      &:focus {
        outline: none;
      }

      @media (hover:hover) {
        &:hover {
          cursor: pointer;
          animation: none;
          border-bottom: solid 3px $neonPink;
        }
      }

      &-container {
        opacity: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        display: flex;
        position: absolute;
        width: 100%;
        padding: 0 20vw;
        top: 6rem;
        z-index: 8;
      }
    }

    &-message {
      opacity: 1;
      transition: opacity 0.3s;
      font-size: 48px;
      margin: auto;
      max-width: 560px;
      padding: 0 15px;
      z-index: 9;

      @media screen and (max-width: 600px) {
        font-size: 32px;
      }
    }
  }

  &-SakuraTree {
    z-index: -1;
    position: absolute;
    bottom: 0;
    width: 100%;

    &-contianer {
      position: relative;
    }
  }

  &-intro {
    &-message {
      position: absolute;
      font-size: 48px;
      right: 32px;
      max-width: 560px;
      padding: 0 15px;
      transform: translate(-15vw, 30vh);

      & .AnimatedText-message,
      & .AnimatedText-message-signifier {
        color: white;
      }

      @media screen and (max-width: 1200px) {
        transform: translateY(30vh);
      }

      @media screen and (max-width: 800px) {
        font-size: 32px;
        transform: none;
        max-width: 330px;
        right: 0;
        left: 0;
        margin: 2rem auto auto;
      }
    }

    &-arrow {
      position: absolute;
      left: 0;
      right: 0;
      margin: 2rem auto auto;
      max-height: 107px;
      opacity: 0;
    }

    &-cta {
      font-family: 'chris-regular';
      position: absolute;
      margin-top: 12rem;
      opacity: 0;
      left: 0;
      right: 0;
      text-align: center;
      color: $bubbleBath;
    }
  }

  &-remote {
    &-movie {
      position: absolute;
      right: 10vw;
      transform: translateY(50%);

      @media screen and (max-width: 1100px) {
        right: 3vw;
      }

      @media screen and (max-width: 800px) {
        bottom: 34vh;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    &-message {
      left: 25vw;

      @media screen and (max-width: 1200px) {
        left: 10vw;
      }

      @media screen and (max-width: 1100px) {
        left: 3vw;
      }

      @media screen and (max-width: 600px) {
        left: 0;
        top: 6vh;
      }
    }
  }

  &-contact {
    background-color: $hauntar;

    &-link {
      border-bottom: solid 1px;
      color: $hauntar;
      transition: border-bottom .3s ease, color .3s ease;
      animation: pulse .5s infinite;
      animation-timing-function: ease-out;
      animation-direction: alternate;

      @media screen and (hover:hover) {
        &:hover {
          color: $hauntar;
          opacity: 0.7;
          text-decoration: none;
          border-bottom: solid 3px;
        }
      }
    }

    &-fine-print {
      color: $hauntar;
      font-family: chris-regular;
      line-height: 1em;
      font-size: 1.7rem;
      max-width: 500px;
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;

      @media screen and (max-width: 600px) {
        margin: auto 2rem;
        font-size: 1.4rem;
      }

      @media screen and (max-width: 400px) {
        margin-bottom: -3rem;
      }

      @media screen and (max-width: 360px) {
        margin: 0 1rem -3rem;
        font-size: 1.2rem;
      }
    }

    &-message {
      font-family: 'chris-regular';
      color: $hauntar;
      text-align: left;
      margin: 4rem auto;
      max-width: 506px;
      font-size: 48px;
      line-height: 1em;

      @media screen and (max-width: 600px) {
        font-size: 36px;
        margin: 3rem;
      }

      @media screen and (max-width: 360px) {
        margin: 2rem 1rem;
        font-size: 2.7rem;
      }
    }

    &-switch {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(calc(50vh - 77px));

      @media (hover:hover) {
        &:hover {
          cursor: pointer;
          opacity: 0.8;
        }
      }

      &:active {
        opacity: 1;
      }


      &-signifier {
        font-family: 'chris-regular';
        color: $bubbleBath;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(calc(50vh - 104px));
      }
    }
  }

  &-block {
    position: absolute;
    background-color: $hauntar;
    left: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    &-portrait {
      display: block;
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      width: auto;
      height: auto;
      bottom: 0;
      transition: all 0.3s ease;
    }

    &-bg {
      height: calc(100vh + 200px);
      width: 200%;
    }

  }
}

.fade {
  opacity: 0;
}

.show {
  opacity: 1;
}

.backdrop {
  opacity: 0.5;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: -1;
}

.moveUpDown {
  animation: moveUpDown 1s ease infinite;
}

@keyframes moveUpDown {
  0%, 100% {
    top: 0;
  }
  50% {
    top: 30px;
  }
}

@keyframes pulse {
  0% {
    border-bottom: solid 1px;
  }
  100% {
    border-bottom: solid 3px;
  }
}
