@import '../../styles/color.scss';

.AboutPage {
  &-greeting {
    margin-top: 60px;
    display: flex;
    justify-content: flex-end;
    opacity: 1;
    transition: opacity 0.3s;
  }
}

.fade {
  opacity: 0;
}

.backdrop {
  opacity: 0.5;
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: -1;
}
