.BlogPost
  &-container
    width 100%
    display flex
    align-items center
    flex-direction column
    position relative
  &-footer
    margin-bottom 9rem
    position relative
    &:after
      content ''
      width 100%
      position absolute
      bottom 0
      height 2px
      background #F7FCFF