doctype html
html(lang='en')
  head
    script(src="https://use.typekit.net/qfu6lvx.js")
    script(try{Typekit.load({ async: true });}catch(e){})
    Momotofu.io
  body
    div(id="app")
    script(src="js/frontend.js")
