doctype html
html(lang='en')
  head
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    script(src="https://use.typekit.net/qfu6lvx.js")
    script.
      try{Typekit.load({ async: true });}catch(e){}
    script.
      window.page = "#{page}"
    title Momotofu.io
  body
    div(id="app")
    script(src="js/frontend.js")