.BlogPost
  &-section
    &-container
      max-width 497px
      width 100%
      margin-bottom 29px
    &-heading
      font-size 36px
      margin-bottom 8px
    &-body
      line-height 1.4
      font-size 18px