.BlogPost-section
  &-container
    margin-bottom 3rem
    max-width 41.4rem
    width 100%
  &-heading
    font-size 3rem
    line-height 2.25rem
    margin-bottom 1rem
    &-small
      font-size 1.5rem
      line-height 1
    &:after
      content ''
      vertical-align text-bottom

  &-paragraph
    font-size 1.5rem
    line-height 1.4
    margin-bottom 1.5rem
    text-align justify

  &-italic
    font-style italic

  &-list
    position relative
    margin-bottom 0
    &-bulleted
      margin-bottom 1rem
      &:before
        content ''
        position absolute
        width 1rem
        height 1pt
        background #a66a4d
        opacity 0.8
        border-radius 100px
        left -3rem
        top 50%
        transform translateY(-50%)
    &-spaced
      margin-bottom 1rem

  &-small
    font-size 1rem