.BlogPost-section
  &-container
    margin-bottom 29px
    max-width 497px
    width 100%
  &-heading
    font-size 36px
    line-height 27px
    margin-bottom 8px
    &-small
      font-size 18px
      line-height 1
    &:after
      content ''
      vertical-align text-bottom

  &-paragraph
    font-size 16px
    line-height 1.4
    margin-bottom 17px
    max-width 500px
    text-align justify
    width 100%

  &-italic
    font-style italic

  &-list
    position relative
    margin-bottom 0
    &-bulleted
      margin-bottom 8px
      &:before
        content ''
        position absolute
        width 8px
        height 1px
        background #a66a4d
        opacity 0.8
        border-radius 100px
        left -27px
        top 50%
        transform translateY(-50%)
    &-spaced
      margin-bottom 8px

  &-small
    font-size 14px