@import 'color.scss';

.signifier {
  color: $bubbleBath;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.06em;
  margin-right: 3rem;
  opacity: .6;
  text-decoration: none;
  text-transform: uppercase;
  word-spacing: 1px;
  transition: all .26s ease;
  outline: none;

  &:hover {
    color: $tangerine;
    text-decoration: none;
  }

  &:active {
    color: $rust;
    transition: all .05s ease;
  }

  &.active {
    color: $electricity;
    opacity: 1;
    transition: all .3s;
  }
 }
