@import "reset.styl"
@import "color.styl"

body
  height 100%
  background charcoal
  color #FF7D4F
  font-family "stevie-sans",sans-serif
  font-size 1rem
  &::-webkit-scrollbar
    display none

#app
  height 100%