.bar {
    width: 18px;
    background:  brown;

    &-active {
        background: green;
    }

    &:last-child {
        margin-right: 0 !important;
    }

    &-container {
        display: flex;
        align-items: baseline;
    }
}