.bar {
    width: 18px;
    border: 2px solid black;
    border-radius: 2px;
    background:  lightgray;
    position: relative;

    &-active {
        background: lime;
    }

    &-container {
        display: flex;
        align-items: baseline;
    }

    &-value {
        position: absolute;
        top: -23px;
        font-size: 15px;
        left: 50%;
        transform: translateX(-50%);
    }

    &:last-child {
        margin-right: 0 !important;
    }

}