@import "../../root-styles/color.styl"

.ContactPage
  &-container
    display flex
    justify-content center
    margin-bottom 12.5rem
    @media screen and (max-width: 736px)
      max-width 100%
      padding 0 1.5rem

  &-form
    display flex
    flex-direction column
    max-width 497px
    width 100%

    &-message
      border 1px solid rust
      border-radius 1px
      font-size 15px
      align-items center
      padding 1.5rem
      margin-bottom 23.75rem
      display none

    &-input
      border none
      box-sizing border-box
      display flex
      font-size 16px
      height 4rem
      padding 1rem

      &-items
        border 1px solid rust
        border-radius 1px
        margin-bottom 2rem
        transition all .3s ease
        &-content
          display flex
          height 100%
          position relative
          &:before
            background rust
            content ''
            height 1px
            position absolute
            left 1.5rem
            width calc(100% - 1.5rem )
          &-label
            display flex
            align-items center
            font-weight bold
            min-width 5rem
            padding 1.5rem
          &-input
            font-size 13px
            color tangerine
            box-sizing border-box
            background transparent
            padding 1.5rem
            width 100%
            height 4rem
            outline none
            text-align right
            border none
          &-textarea
            resize none
            text-align left
            height 12rem
          &:first-child
            &:before
              content none

    &-button
      -webkit-appearance none
      -moz-box-shadow inset 0px -36px 25px -39px #0D031A
      -webkit-box-shadow inset 0px -36px 25px -39px #0D031A
      box-shadow inset 0px -36px 25px -39px #0D031A
      background charcoal
      border 1px solid rust
      color #F7FCFF
      cursor pointer
      font-size 13px
      font-weight 400
      height 4rem
      letter-spacing 0.06em
      opacity .8
      outline none
      text-decoration none
      text-transform uppercase
      transition all .26s ease
      word-spacing 1px
      &:hover
        color #FF7D4F
      &:active
        color #AA523C
        transition all .05s ease


::-webkit-input-placeholder
  color rust
::-moz-placeholder
  color rust
:-ms-input-placeholder
  color rust
:-moz-placeholder
  color rust

