.Contributions
  &-container
    display flex
    align-items center
    flex-direction column
    @media screen and (max-width: 736px)
      max-width 100%
      padding 0 1.5rem

  &-accordion
    &-filters
      margin-bottom 1.5rem
      max-width 497px
      width 100%
      padding-left 2rem