@import '../../styles/color.scss';

// Todo: update class names

.greeting-hero {
  top: 80px;
  left: 30px;
  position: absolute;
}

.AnimatedText-message {
  color: $charcoal;
  font-weight: 200;
  font-family: 'chris-regular';
  font-size: 48px;
  letter-spacing: 0.06em;
  word-spacing: 1px;
  line-height: 1em;
  transition: opacity 0.3s;
  opacity: 1;

  & .AnimatedText-letter {
    opacity: 0;
  }

  &-signifier {
    font-family: 'chris-regular';
    font-size: 36px;
    letter-spacing: 0.05em;
    border: none;
    border-bottom: solid 1px;
    line-height: 1.4rem;
    background: none;
    outline: none;
    outline: aliceblue;
    transition: border-bottom .2s ease;
    opacity: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      border-bottom: solid 3px;
    }
  }
}
