@import '../../styles/color.scss';

// Todo: update class names

.greeting-hero {
  top: 80px;
  left: 30px;
  position: absolute;
}

.AnimatedText-message {
  color: $charcoal;
  font-weight: 200;
  font-family: 'chris-regular';
  font-size: 48px;
  letter-spacing: 0.06em;
  word-spacing: 1px;
  line-height: 1em;
  transition: opacity 0.3s;
  opacity: 1;

  & .AnimatedText-letter {
    opacity: 0;
  }
}
