.Footer
  &-container
    align-items center
    box-sizing border-box
    justify-content flex-end
    background #2b2633
    border-top 1px solid #AA523C
    display flex
    height 6rem
    width 100%
  @import '../../skins/signifier.styl'