@import "../../root-styles/color.styl"

.Footer
  &-container
    align-items center
    box-sizing border-box
    justify-content flex-end
    background charcoal
    border-top 1px solid #AA523C
    display flex
    height 6rem
    width 100%
  @import '../../skins/signifier.styl'