@import '../../styles/color.scss';
@import '../../styles/signifier.scss';

.NavBar {
  display: flex;
  width: 100%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: $charcoal;
  justify-content: center;

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    align-self: center;
  }

  &-hamburger {
    height: 2px;
    padding: 1.4rem 0.65rem;
    position: relative;
    margin-left: 0.8rem;
    align-self: center;
    display: none;

    &:hover {
      cursor: pointer;
    }

    &-middle {
      background-color: $bubbleBath;
      height: 2px;
      width: 24px;

      &.isActive {
        background-color: $charcoal;
      }

      &.isActive:before {
        transform: rotate(45deg);
        top: 22px;
      }

      &.isActive:after {
        transform: rotate(135deg);
        bottom: 20px;
      }

      &:before, &:after {
        content: '';
        width: 24px;
        height: 2px;
        display: flex;
        background: $bubbleBath;
        position: absolute;
        transition: all 0.2s ease;
      }

      &:before {
        top: 15px
      }

      &:after {
        bottom: 13px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    $navHeight: 60px;

    & {
      height: $navHeight;
      justify-content: flex-start;
    }

    &-hamburger {
      display: flex;
    }

    &-list {
      flex-direction: column;
      position: absolute;
      transition: left 0.3s ease;
      top: $navHeight;
      left: -100vw;
      width: 100%;
      background: $charcoal;
      padding-left: 1.5rem;

      & > li > .signifier {
        display: block;
        padding: 0 0 1rem;
      }

      &.isActive {
        left: 0;
      }
    }
  }
}
