@import '../../styles/color.scss';

.NavBar {
  display: flex;
  width: 100%;
  height: 60px;
  margin-right: auto;
  margin-left: auto;
  background-color: $charcoal;
  justify-content: center;

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    align-self: center;

    @import '../../styles/signifier.scss';
  }
}
