.NavigationBar
  &-spacer
    height 6rem
    position absolute
    top 0
    @media screen and (max-width: 435pt)
      bottom 0
  &-container
    display flex
    padding 0 3rem
    background #2b2633
    -webkit-box-shadow inset 0px -36px 25px -39px #0D031A
    -moz-box-shadow inset 0px -36px 25px -39px #0D031A
    box-shadow inset 0px -36px 25px -39px #0D031A
    align-items center
    border-bottom 1px solid #AA523C
    position fixed
    height inherit
    width 100%
    z-index 10
  @import '../../skins/signifier.styl'