.NavigationBar
  &-spacer
    height 36px
    position absolute
    top 0
    @media screen and (max-width: 435pt)
        bottom 0
  &-container
    display flex
    background #2b2633
    -webkit-box-shadow inset 0px -36px 25px -39px #0D031A
    -moz-box-shadow inset 0px -36px 25px -39px #0D031A
    box-shadow inset 0px -36px 25px -39px #0D031A
    align-items center
    justify-content center
    font-weight 300
    border-bottom 1px solid #AA523C
    color #F7FCFF
    position fixed
    height inherit
    width 100%
    z-index 10
  &-signifier
    opacity .8