.NavigationBar
  &-spacer
    height 6rem
    position absolute
    top 0
    @media screen and (max-width: 435pt)
      bottom 0
  &-container
    display flex
    padding 0 3rem
    background #2b2633
    -webkit-box-shadow inset 0px -36px 25px -39px #0D031A
    -moz-box-shadow inset 0px -36px 25px -39px #0D031A
    box-shadow inset 0px -36px 25px -39px #0D031A
    align-items center
    border-bottom 1px solid #AA523C
    position fixed
    height inherit
    width 100%
    z-index 10
  &-signifier
    color #F7FCFF
    cursor pointer
    font-size 13px
    font-weight 400
    letter-spacing 0.06em
    margin-right 3rem
    opacity .8
    text-decoration none
    text-transform uppercase
    word-spacing 1px
    transition all .26s ease
    &:hover
      color #FF7D4F
    &:active
      color #AA523C
      transition all .05s ease
    &-active
      border-right 2px solid #C6C9CE
      border-radius 2px
      color #FFFC69
      opacity 1
      padding-right 3rem
      transition all .5s ease
      transition color 0