@import '../../styles/color.scss';

.Checkbox {
  &-input {
    margin: 12px;

    &[type="checkbox"]:before {
      content: "";
      position: relative;
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 3px;
      border: 1px solid #fff;
      background: $charcoal;
    }

    &[type="checkbox"]:after {
      content: "";
      position: relative;
      display: block;
      left: 5px;
      top: -28px;
      width: 18px;
      height: 18px;
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

    &[type="checkbox"]:checked:after {
      content: 'X';
      color: $electricity;
    }

    @media screen and (hover:hover) {
      &[type="checkbox"]:hover {
        &:after {
          content: 'X';
        }
      }
    }
  }

  &-label {
    font-size: 2rem;
    line-height: 1;
    margin-bottom: -4px;
  }

  &-label:hover, &-input:hover {
    cursor: pointer;
  }
}
