@import './styles/index.scss';

html::-webkit-scrollbar {
  display: none;
}

html, body {
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 12px;
  font-family: 'chris-regular' !important;
}

h1 {
  margin-bottom: 0;
}

figure {
  margin-bottom: 0 !important;
}

.underline {
  height: 28px;
  display: inline-block;
}

.container-nested {
  @media screen and (max-width: 600px) {
    padding: 0 15px;
  }
}
