@import '../../styles/color.scss';

.Filters {
  width: 100%;

  &-panel {
    position: relative;
    overflow: hidden;
    background: $bubbleBath;

    &-filter {
      position: absolute;
    }
  }
}
