@import '../../styles/color.scss';

.Filters {
  width: 100%;

  &-show-button {
    font-size: 1.5rem;
  }

  &-panel {
    background: charcoal;
    overflow: hidden;
    background: $charcoal;
    display: flex;
    flex-wrap: wrap;

    &-filter {
      display: flex;
      align-items: center;
      color: $bubbleBath;
      margin-right: 1rem;
    }
  }
}
